@import 'variables.css';

/*========== GENRAL PRESETS ==========*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: var(--black);
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
    background-color: var(--grey);
}

/*logout button*/

#logout-link {
    padding: 0.5%;
    position: fixed;
    top: 21%;
    right: 3%;
    text-decoration: none;
    font-size: 2.4rem;
    color: var(--green);
    border: 2px solid var(--green);
    border-radius: 40px;
    transition: all 0.6s ease;
    z-index: 100;
}

#logout-link:hover {
    color: var(--white);
    background-color: var(--green);
}

/*========== USER HEADER ==========*/
/*=================================*/
/*=== FOR ALL ROUTES UNLESS '/' ===*/

.user-header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    position: relative;
}

.user-header img {
    margin-left: 3%;
    width: 22%;
    height: auto;
    
}

.user-header__link a {
    text-decoration: none;
    color: var(--white);
    transition: color 0.5s ease;
    font-size: 4.8rem;
    position: relative;
}

.user-header__link a::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 0%;
    height: 3px;
    background-color: var(--white);
    transition: 0.7s width ease;
}

.user-header__link a:hover::before {
    width: 100%;
}

.tchat {
    width: 20%;
    height: 85%;
    margin-right: 3%;
}

/*========== LOGIN PAGE ==========*/
/*================================*/

/*===== HEADER =====*/

.login-block-page {
    height: 80vh;
    overflow: hidden;
}

.login-header {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
}

.login-header img {
    margin-left: 3%;
    width: 22%;
    height: auto;
}

.login-header__link {
    margin-right: 3%;
}

.login-header__link a {
    text-decoration: none;
    color: var(--black);
    transition: color 0.5s ease;
    margin-right: 3%;
    font-size: 4.8rem;
}

.login-header__link:hover a {
    color: var(--green);
}

/*===== BLOCK BODY =====*/

.login-block-page {
    background-color: var(--grey);
}

.login-block-page form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-inputs {
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input {
    outline: none;
    border-radius: 40px;
    border: 2px solid var(--green);
    width: 45%;
    height: 12%;
    font-size: 3.2rem;
    color: var(--black);
    text-align: center;
    outline: none;
}

.login-input:first-child {
    margin: 10% 0% 10% 0%;
}

.login-submit {
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.login-submit button {
    width: 14%;
    height: 25%;
    border-radius: 40px;
    background-color: var(--green);
    color: var(--white);
    font-size: 3.2rem;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.login-submit button:hover {
    transform: translateY(-0.5px);
}

.login-submit button:active {
    transform: translateY(0px);
}

/*========== USER PAGE ==========*/
/*==============================*/

.user-page-container {
    background-color: var(--grey);
    max-width: 100vw;
    overflow-x: hidden;
}

.user-bloc-top {
    display: none;
}

.user-bloc-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.event-form-container {
    width: 23%;    
}

.event-form-container h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 3.2rem;
}

.event-form-container h2:nth-child(2) {
    margin-bottom: 4.8rem;
}

#event div:nth-child(2) {
    width: 90%;
    margin: 0 auto;
}

#event div:nth-child(2) label {
    margin-bottom: 3.2rem;
}

#event div label,
#event div select {
    font-size: 2.4rem;
}

#event div select {
    margin-left: 25%;
    padding: 0.8rem;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--green);
    border-radius: 10px;
    cursor: pointer;
}

#event div:first-child {
    padding: 1.6rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4rem;
    margin-left: 0.5rem;
}

#event div:first-child label {
    position: relative;
    top: 0.8rem;
}

#event div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#event div div input {
    position: relative;
    left: 26rem;
    top: 2.4rem;
}

#event_city {
    margin-left: 1.6rem;
}

.event-form form input[type=submit] {
    display: block;
    padding: 0.8rem;
    width: 50%;
    font-size: 2.4rem;
    color: var(--green);
    border: 2px solid var(--green);
    background-color: var(--white);
    border-radius: 40px;
    cursor: pointer;
    width: 50%;
    margin: 4rem 25%;
    transition: all 0.7s ease;
}

.event-form form input[type=submit]:hover {
    background-color: var(--green);
    color: var(--white);
}

.user-events {
    width: 54%;
    border: 1px solid var(--green);
    border-radius: 40px;
    background-color: var(--white);
}

.user-events .event {
    padding: 5%;
}

.event h3,
.event h4,
.event p,
.event a {
    line-height: 1.5;
    letter-spacing: 1px;
}

.event h3 {
    font-size: 2.4rem;
}

.event h4 {
    font-size: 2rem;
}

.event p {
    font-size: 2rem;
}

.event a {
    text-decoration: none;
    color: var(--black);
    transition: 0.5s all ease;
    font-size: 2.2rem;
}

.event a:hover {
    color: var(--green);
}

.third-div {
    width: 22%;
}

/*========== LOGIN PAGE RESPONSIVE ==========*/
/*===== RESPONSIVE BUTTONS =====*/

@media screen and (max-width: 1500px) {
    .login-input {
        width: 47%;
        height: 12%;
    }

    .login-submit button {
        width: 17%;
        height: 20%;
    }
}

@media screen and (max-width: 1400px) {
    .login-input {
        width: 50%;
        height: 12%;
    }

    .login-submit button {
        width: 19%;
        height: 20%;
    }

    #event div div input {
        left: 24rem;
    }
}

@media screen and (max-width: 1300px) {
    /*Login Page*/
    .login-input {
        width: 55%;
        height: 12%;
    }

    .login-submit button {
        width: 20%;
        height: 20%;
    }

    /*User Page*/
    #logout-link {
        font-size: 1.6rem;
    }

    .event-form-container h2 {
        font-size: 3.2rem;
    }

    #event div label,
    #event div select {
        font-size: 1.6rem;
    }

    #event div div input {
        left: 16rem;
    }

    .event-form form input[type=submit] {
        font-size: 1.6rem;
    }

    .event h3 {
        font-size: 2rem;
    }
    
    .event h4 {
        font-size: 1.8rem;
    }
    
    .event p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1000px) {
    .login-input {
        width: 60%;
        height: 12%;
    }

    .login-submit button {
        width: 21%;
        height: 20%;
    }
}

@media screen and (max-width: 1100px) {
    .login-header img {
        width: 30%;
    }

    .login-input {
        width: 60%;
        height: 12%;
    }

    .login-submit button {
        width: 23%;
        height: 20%;
    }
}

@media screen and (max-width: 960px) {
    /*User Page*/
    /*===== BURGER FOR /user =====*/

    .burger-icone {
        position: absolute;
        top: 42%;
        right: 5%;
        width: 4rem;
        height: 3.2rem;
        z-index: 201;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;   
    }

    .event-form-container {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 100vh;
        color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 101;
        background-color: rgba(51, 204, 171, 0.918);
        clip-path: circle(100px at 90% -14%);
        -webkit-clip-path: circle(100px at 90% -14%);
        transition: all 0.8s ease-out;
        pointer-events: none;
    }

    .event-form-container.change {
        clip-path: circle(1400px at 90% -14%);
        -webkit-clip-path: circle(1400px at 90% -14%);
        pointer-events: all;
    }

    .line {
        width: 100%;
        height: 4px;
        background-color: var(--white);
        transition: 0.7s all ease;
    }

    .line1.change {
        transform: rotateZ(-405deg) translate(-5px, 6px);
    }

    .line2.change {
        opacity: 0;
    }

    .line3.change {
        transform: rotateZ(405deg) translate(-12px, -15px);
    }

    .event-form-container h2 {
        font-size: 4rem;
    }

    #event div label,
    #event div select {
        font-size: 2.4rem;
    }

    #event div select {
        background-color: transparent;
        color: var(--white);
        border: 1px solid var(--white);
    }

    #event div div input {
        left: 20rem;
    }

    .event-form form input[type=submit] {
        font-size: 2.4rem;
    }


    .event-form form input[type=submit]:hover {
        background-color: var(--green);
        color: var(--white);
        border: 1px solid var(--white);
    }

    /*===== END OF BURGER MENU =====*/

    .event-form-container h2:first-child {
        display: none;
    }

    #logout-link {
        position: fixed;
        top: 20vh;
        right: 4%;
        background-color: var(--green);
        color: var(--white);    
    }

    .user-bloc-top {
        display: block;
        margin-left: 2.4rem;
        margin-top: 1.6rem;
        font-size: 3.2rem;
        font-weight: 400;
    }

    .user-events {
        width: 80%;
        margin: 2.4rem auto 0 auto;
    }

    .third-div {
        display: none;
    }
}

/*========== TABLETS & IPHONES ==========*/

@media screen and (max-width: 860px) {
    /*Login Page*/
    /*==========*/
    .login-header img {
        width: 40%;
    }

    .login-header__link a {
        font-size: 3.2rem;
        margin-right: 3%;
    }

    .login-input {
        width: 70%;
        height: 12%;
    }

    .login-submit button {
        width: 25%;
        height: 20%;
    }

    /*User Header*/
    /*===========*/
    .user-header img {
        width: 20%;    
    }

    .user-header__link a {
        font-size: 3.2rem;
    }

    .tchat {
        width: 25%;
    }
}

@media screen and (max-width: 700px) {
    .login-input {
        width: 80%;
        height: 12%;
    }

    .login-submit button {
        width: 27%;
        height: 20%;
    }

    .user-header img {
        width: 30%;
    }
}

@media screen and (max-width: 580px) {
    .login-input {
        width: 85%;
        height: 12%;
    }

    .login-submit button {
        width: 32%;
        height: 20%;
    }
}

/*============================*/
/*========== MOBILE ==========*/

@media screen and (max-width: 480px) {
    /*Login Page*/
    /*==========*/
    .login-input {
        width: 95%;
        height: 12%;
        font-size: 2.4rem;
    }

    .login-submit button {
        width: 40%;
        height: 20%;
    }
    
    /*User Header*/
    /*==========*/
    .user-header img {
        width: 30%;
    }

    .user-header__link a {
        font-size: 2.4rem;
    }

    .tchat {
        width: 30%;
    }
}

@media screen and (max-width: 400px) {
    .login-header img {
        width: 45%;
    }

    .login-input {
        width: 100%;
        height: 12%;
    }

    .login-submit button {
        width: 45%;
        height: 20%;
    }    
}
