{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<a class ="button-send-message" href="{{ path("send") }}">Envoyer un message</a>
        <section class="container">
            <div class="row">
                <div class ="col">
                    <h1>Messagerie</h1>
                    <p>Résumé de la messagerie</p>
                    <p>Reçus :{{ app.user.received|length }}</p>
                    <p>Envoyés :{{ app.user.sent|length }}</p>
                </div>
            </div>
        </section>
{% endblock %}
